# src dirs
artifacts
cache
deploy
deployments
node_modules
typechain-types

# scripts
scripts

# ignore dirs
.DS_Store

# ignore files
.slither.json
.eslintignore
.eslintrc.js
.npmignore
.prettierignore
.prettierrc
.solhint.json
.solhintignore
arg.js
tsconfig.json
yarn.lock

# private info
.env
package.json
package-lock.json